<script>
import { Line, mixins } from 'vue-chartjs'
const { reactiveProp } = mixins

export default {
  name: 'LineChart',
  extends: Line,
  // props: ['chartdata'],
  mixins: [reactiveProp],
  props: ['chartData', 'hight'],
  data () {
    return {
      options: {
        // responsive: true,
        // maintainAspectRatio: false,
        title: {
          display: true,
          text: 'Monitoring Feed [Humid & Temp]'
        },
        scales: {
          xAxes: [{
            type: 'time',
            time: {
              unit: 'hour',
              unitStepSize: 0.5,
              round: 'second',
              tooltipFormat: 'D MMM YY h:mm:ss A',
              displayFormats: {
                'hour': 'h:mm:ss A'
              }
            }
          }],
          yAxes: [{
            type: 'linear',
            display: true,
            scaleLabel: {
              display: true,
              labelString: 'value'
            }
          }]
        },
        tooltips: {
          mode: 'nearest',
          intersect: false
        },
        hover: {
          mode: 'nearest',
          intersect: false
        },
        zoom: {
          enabled: false,
          mode: 'x',
          rangeMax: {
            x: 20000
          },
          rangeMin: {
            x: 1000
          }
        },
        plugins: {
          streaming: false
        }
      }
    }
  },
  mounted () {
    this.renderChart(this.chartData, this.options)
  },
  watch: {
    chartData () {
      this.$data._chart.update()
    }
  }
}
</script>

<style>
</style>
