<script>
import { Line, mixins } from 'vue-chartjs'
import 'chartjs-plugin-streaming'
const { reactiveProp } = mixins

export default {
  name: 'LineChart',
  extends: Line,
  props: {
    value: {
      type: Object,
      default () {
        return {
          title: '',
          label: 'value'
        }
      }
    },
    chartData: {
      type: Object,
      default () {
        return {}
      }
    }
  },
  mixins: [reactiveProp],
  data () {
    return {
      options: {
        responsive: true,
        maintainAspectRatio: false,
        title: {
          display: true,
          text: this.value.title
        },
        scales: {
          xAxes: [{
            type: 'realtime',
            realtime: {
              duration: 60000,
              ttl: undefined,
              delay: 2000,
              pause: false
            },
            time: {
              // unit: 'second',
              // unitStepSize: 5,
              // round: 'second',
              // tooltipFormat: 'D MMM YY h:mm:ss A',
              displayFormats: {
                'second': 'h:mm:ss A'
              }
            }
          }],
          yAxes: [{
            type: 'linear',
            display: true,
            scaleLabel: {
              display: true,
              labelString: this.value.unit
            },
            ticks: {
              suggestedMAX: 100,
              suggestedMin: 10,
              stepSize: 5
            }
          }]
        },
        tooltips: {
          mode: 'nearest',
          intersect: false
        },
        hover: {
          mode: 'nearest',
          intersect: false
        },
        plugins: {
          streaming: {
            frameRate: 60
          }
        }
      }
    }
  },
  mounted () {
    this.renderChart(this.chartData, this.options)
  }
}
</script>

<style>
</style>
