@charset "utf-8";
/*! bulma.io v0.7.2 | MIT License | github.com/jgthms/bulma */
// $family-primary: 'Kanit', sans-serif;

$body-background-color: #ffffff;
// $primary: #2ac2b5;

$navbar-background-color: #314c5d;
$navbar-height: 4.25rem;
$navbar-item-color: #f9f9f9;
$navbar-item-active-color: #f9f9f9;
$navbar-item-active-background-color: #23343e;
$navbar-item-hover-color: #d5d5d5;
$navbar-item-hover-background-color: transparent;

$menu-item-hover-background-color: hsl(0, 0%, 86%);
$menu-item-active-background-color: #3a98d8;

$card-background-color: hsl(0, 0%, 96%);
$card-border-radius: 6px;

$box-background-color: #fbfcfc;
$footer-background-color: #314c5d;

$hr-background-color: #ececec;
$hr-margin: 1rem 0;

$card-header-background-color: #f2f5f5;
$card-background-color: #fbfcfc;

$label-color: #2c3e50;
$title-color: #2c3e50;


@import "sass/utilities/_all";
@import "sass/base/_all";
@import "sass/elements/_all"; 
@import "sass/components/_all";
@import "sass/grid/_all";
@import "sass/layout/_all";


