<template>
  <section class="section">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <div class="title has-text-grey-dark"><i class="fas fa-chart-line"></i> Real-Time Dashboard</div>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
        </div>
      </div>
    </div>
    <div class="columns is-multiline">
      <div class="column is-full">
        <div class="chart-container">
          <line-chart :chart-data="datacollection" :options="options"></line-chart>
        </div>
      </div>
      <div class="column is-half">
        <div class="chart-container">
          <line-chart :chart-data="datacollectionTemp" :options="options"></line-chart>
        </div>
      </div>
      <div class="column is-half">
        <div class="chart-container">
          <line-chart :chart-data="datacollectionHumid" :options="options"></line-chart>
        </div>
      </div>
    </div>

    <!-- <h1 id="connected_NETPIE"></h1>
    <p id="raw_data"></p>
    <p id="get_topic"></p>
    <strong id="Humidity_temp"></strong>
    <hr> -->
    <!-- {{chartData}} -->
  </section>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'
import LineChart from '../charts/RealTimeLineChart.js'
import RealTime from '../components/dashboard/RealTime'
import Report from '../components/dashboard/Report'

export default {
  components: {
    LineChart, RealTime, Report
  },
  data () {
    return {
      chartColors: {
        red: 'rgb(255, 99, 132)',
        orange: 'rgb(255, 159, 64)',
        yellow: 'rgb(255, 205, 86)',
        green: 'rgb(75, 192, 192)',
        blue: 'rgb(54, 162, 235)',
        purple: 'rgb(153, 102, 255)',
        grey: 'rgb(201, 203, 207)'
      },
      datacollection: {
        datasets: [{
          label: 'Humid',
          lineTension: 0,
          borderWidth: 2,
          fill: false,
          borderColor: 'rgba(255, 159, 64, 0.5)',
          backgroundColor: 'rgba(255, 159, 64, 0.1)',
          data: []
        }, {
          label: 'Temp',
          lineTension: 0,
          borderWidth: 2,
          fill: false,
          borderColor: 'rgba(54, 162, 235, 0.5)',
          backgroundColor: 'rgba(54, 162, 235, 0.1)',
          data: []
        }]
      },
      datacollectionHumid: {
        datasets: [{
          label: 'Humid',
          lineTension: 0,
          borderWidth: 2,
          fill: false,
          borderColor: 'rgba(255, 159, 64, 0.5)',
          backgroundColor: 'rgba(255, 159, 64, 0.1)',
          data: []
        }]
      },
      datacollectionTemp: {
        datasets: [{
          label: 'Temp',
          lineTension: 0,
          borderWidth: 2,
          fill: false,
          borderColor: 'rgba(54, 162, 235, 0.5)',
          backgroundColor: 'rgba(54, 162, 235, 0.1)',
          data: []
        }]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        title: {
          display: true,
          text: 'Monitoring Feed'
        },
        scales: {
          xAxes: [{
            type: 'realtime',
            realtime: {
              duration: 60000,
              ttl: undefined,
              delay: 2000,
              pause: false
            },
            time: {
              // unit: 'second',
              // unitStepSize: 5,
              // round: 'second',
              // tooltipFormat: 'D MMM YY h:mm:ss A',
              displayFormats: {
                'second': 'h:mm:ss A'
              }
            }
          }],
          yAxes: [{
            type: 'linear',
            display: true,
            scaleLabel: {
              display: true,
              labelString: 'Value'
            },
            ticks: {
              suggestedMAX: 100,
              suggestedMin: 10,
              stepSize: 5
            }
          }]
        },
        tooltips: {
          mode: 'nearest',
          intersect: false
        },
        hover: {
          mode: 'nearest',
          intersect: false
        },
        // zoom: {
        //   enabled: true,
        //   mode: 'x',
        //   rangeMax: {
        //     x: 20000
        //   },
        //   rangeMin: {
        //     x: 1000
        //   }
        // },
        plugins: {
          streaming: {
            frameRate: 60
          }
        }
      },
      chartData: []
    }
  },
  mounted () {
    // this.fetchData()
    // this.fillData()
  },
  methods: {
    ...mapMutations(['setMenuClick']),
    fillData () {
      var chartColors = {
        red: 'rgb(255, 99, 132)',
        orange: 'rgb(255, 159, 64)',
        yellow: 'rgb(255, 205, 86)',
        green: 'rgb(75, 192, 192, 0.7)',
        blue: 'rgb(54, 162, 235)',
        purple: 'rgb(153, 102, 255)',
        grey: 'rgb(201, 203, 207)'
      }
    },
    fetchData: function () {
      let APPID = 'MonitoringSystem'
      let KEY = 'v6FB9SoKV5IP8mS'
      let SECRET = 'NBU5kqDuLUHoGKvtUVrhuMepn'
      let ALIAS = 'WEB_MONITORING'
      // eslint-disable-next-line
      var microgear = Microgear.create({
        key: KEY,
        secret: SECRET,
        alias: ALIAS
      })

      microgear.on('message', function (topic, msg) {
        let splitMsg = msg.split('/')
        // document.getElementById('Humidity_temp').innerHTML = 'Humidity = ' + splitMsg[1] + ' % ,Temp = ' + splitMsg[2] + ' c ' + Date.now()
        this.datacollection.datasets[0].data.push({
          x: Date.now(),
          y: parseFloat(splitMsg[1])
        })
        this.datacollection.datasets[1].data.push({
          x: Date.now(),
          y: parseFloat(splitMsg[2])
        })
        this.datacollectionHumid.datasets[0].data.push({
          x: Date.now(),
          y: parseFloat(splitMsg[1])
        })
        this.datacollectionTemp.datasets[0].data.push({
          x: Date.now(),
          y: parseFloat(splitMsg[2])
        })
      }.bind(this))
      microgear.on('connected', function () {
        microgear.setAlias(ALIAS)
      })

      microgear.on('present', function (event) {
        console.log(event)
      })

      microgear.on('absent', function (event) {
        console.log(event)
      })

      microgear.resettoken(function (err) {
        console.log(err)
        microgear.connect(APPID)
      })

      microgear.on('closed', function () {
        console.log('Closed...')
      })
    }
  },
  computed: {
    ...mapGetters(['menuClick'])
  },
  created () {
    // this.setMenuClick('realtime')
    this.fetchData()
  }
}
</script>

<style>
  .small {
    position: relative;
    margin: auto;
    height: 80vh;
    width: 80vw;
  }

  .chart-container {
    /* position: relative; */
    max-width: 400;
    margin: auto 0;
  }
</style>
