<template>
  <section class="section">
    <div v-show="menuClick   === 'realtime'">
      <real-time></real-time>
    </div>
    <div v-show="menuClick   === 'history'">
      <history></history>
    </div>
    <div v-show="menuClick === 'report'">
      <report></report>
    </div>
    <div v-show="menuClick === 'profile'">
      <profile></profile>
    </div>
    <div v-show="menuClick === 'notification'">
      <notification></notification>
    </div>
    <div v-show="menuClick === 'setting'">
      <setting></setting>
    </div>
  </section>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'
import RealTime from '../components/dashboard/RealTime'
import History from '../components/dashboard/History'
import Report from '../components/dashboard/Report'
import Profile from '../components/Profile'
import Notification from '../components/Notification'
import Setting from '../components/Setting'

export default {
  components: {
    RealTime, History, Report, Profile, Notification, Setting
  },
  data () {
    return {
    }
  },
  mounted () {
    // this.fetchData()
    // this.fillData()
  },
  methods: {
    ...mapMutations(['setMenuClick'])
  },
  computed: {
    ...mapGetters(['menuClick'])
  },
  created () {
    this.setMenuClick('realtime')
    this.$auth.handleAuthentication()
    // this.fetchData()
  }
}
</script>
