<template>
  <section class="hero is-info is-fullheight">
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <!-- <a class="navbar-item" href="../">
              <img src="http://bulma.io/images/bulma-type-white.png" alt="Logo">
            </a> -->
            <span class="navbar-burger burger" data-target="navbarMenu">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
              <span class="navbar-item">
                <a class="button is-white is-outlined" @click.prevent="login">
                  <span>Login</span>
                </a>
              </span>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-6 is-offset-3">
          <h1 class="title">
              Humidity & Temperature Alert System for Data Center Using IoT
          </h1>
          <h2 class="subtitle">
              This project developing the temperature and relative humidity notify system of Computer center using Internet of Things and representing data using NETPIE. The system will notify data reading result from sensor through 2 ways 1. LINE application notification 2. Email notification.
          </h2>
          <!-- <div class="box">
            <div class="field is-grouped">
              <p class="control is-expanded">
                <input class="input" type="text" placeholder="Enter your email">
              </p>
              <p class="control">
                <a class="button is-info">
                    Notify Me
                </a>
              </p>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </section>
</template>
<script>
// import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'Home',
  components: {
  },
  data () {
    return {
    }
  },
  methods: {
    login () {
      this.$auth.login()
    }
    // ...mapActions(['updateUserMetadata'])
  },
  computed: {
  }
}
</script>
<style>
.hero.is-info {
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url('https://source.unsplash.com/1600x900/?business-work') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.hero .nav, .hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.hero .subtitle {
  padding: 3rem 0;
  line-height: 1.5;
}
</style>
