<template>
  <nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <!-- <img src="https://d2eip9sf3oo6c2.cloudfront.net/tags/images/000/001/036/square_256/vue.png"> -->
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" @click="isOpen = !isOpen" v-bind:class="{'is-active': isOpen}">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
        <a class="navbar-item is-brand">
          <!-- <img class="navbar-brand-logo" src="/bulma-admin-dashboard-template/logo.png" alt="Web Monitoring System"> -->
          <strong>&nbsp;&nbsp;Web Monitoring System</strong>
        </a>
    </div>
    <div class="navbar-menu" v-bind:class="{'is-active': isOpen}">
        <div class="navbar-end">
            <div class="navbar-item has-dropdown" v-bind:class="{'is-active': isClick}">
              <a class="navbar-link" @click="isClick = !isClick">
                <figure class="image is-32x32" style="margin-right:.5em;">
                  <img style="border-radius: 50%;" :src="profile.picture">
                </figure>{{profile.nickname}}
              </a>
              <div class="navbar-dropdown is-right">
                  <a class="navbar-item" @click="setMenuClick('profile'), isClick = false">
                    <i class="fas fa-user-circle"></i>&nbsp;&nbsp;Profile
                  </a>
                  <hr class="navbar-divider">
                  <a class="navbar-item" @click="logout(), isClick = false">
                    <i class="fas fa-power-off"></i>&nbsp;&nbsp;Logout
                  </a>
              </div>
            </div>
        </div>
    </div>
</nav>

</template>

<script>
import { mapMutations } from 'vuex'
export default {
  name: 'AppNav',
  data () {
    return {
      profile: this.$auth.profile,
      isOpen: false,
      isClick: false
    }
  },
  methods: {
    ...mapMutations(['setMenuClick']),
    login () {
      this.$auth.login()
    },
    logout () {
      this.$auth.logOut()
    },
    handleLoginEvent (data) {
      this.profile = data.profile
    }
  },
  computed: {
  }
}
</script>
<style>
  .nav-tag {
    padding-right:30px;
  }

  .nav-tag .tag-notif {
    border-radius:50%;
    position:absolute;
    top:5px;
    margin-left:10px
  }
</style>
