<template>
  <div>
    <div class="columns">
      <div class="column is-2">
        <div class="field">
          <label class="label">Feed ID</label>
          <div class="control">
            <div class="select is-fullwidth is-small">
              <select v-model="getAPIOption.feedId">
                <option disabled="disabled" :value="null">Select FeedID</option>
                <option value="MonitoringFeed" selected>Monitoring Feed</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-3">
        <label class="label">Granularity</label>
        <div class="columns is-gapless">
          <div class="column is-3">
            <div class="field">
              <div class="control">
                <input v-model="getAPIOption.granularity.value" class="input is-small" type="number" :min="1" placeholder="">
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <div class="control">
                <div class="select is-fullwidth is-small">
                  <select v-model="getAPIOption.granularity.unit">
                    <option disabled="disabled" :value="null">Select Granularity</option>
                    <option value="second">Second</option>
                    <option value="minute">Minute</option>
                    <option value="hour">Hour</option>
                    <option value="day">Day</option>
                    <option value="month">Month</option>
                    <option value="year">Year</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-3">
        <label class="label">Since</label>
        <div class="columns is-gapless">
          <div class="column is-3">
            <div class="field">
              <div class="control">
                <input v-model="getAPIOption.since.value" class="input is-small" type="number" :min="1" placeholder="">
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <div class="control">
                <div class="select is-fullwidth is-small">
                  <select v-model="getAPIOption.since.unit">
                    <option disabled="disabled" :value="null">Select Since</option>
                    <option value="second">Second</option>
                    <option value="minute">Minute</option>
                    <option value="hour">Hour</option>
                    <option value="day">Day</option>
                    <option value="month">Month</option>
                    <option value="year">Year</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-2">
        <label class="label">Filter (Optional)</label>
        <div class="columns">
          <div class="column">

            <div :class="['dropdown is-small',{'is-active': togleDropdown}]">
              <div class="dropdown-trigger is-small">
                <button class="button is-small" aria-haspopup="true" aria-controls="dropdown-menu3"  @click="togleDropdown = !togleDropdown">
                  <span>Select Device</span>
                  <span class="icon is-small">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
              <div class="dropdown-menu is-small" id="dropdown-menu3" role="menu">
                <div class="dropdown-content is-small">
                  <div class="dropdown-item is-small" v-for="filter in filters" :key="filter.id">
                    <input class="is-checkradio has-background-color is-small" :id="'report' + filter.attr" type="checkbox" @change="handleAddFilter($event.target.checked, filter)">
                    <label :for="'report' + filter.attr">{{filter.attr}}</label>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="column is-2">
        <div class="field">
          <label class="label">&nbsp;</label>
          <div class="control">
              <a class="button is-primary is-small" @click="fetchData()">
                <span class="icon">
                  <i class="fas fa-search"></i>
                </span>
                <span>View Report</span>
              </a>
          </div>
        </div>
      </div>
    </div>
    <!-- {{fetchDataRes}} -->
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'FilterData',
  model: {
    event: 'input'
  },
  data () {
    return {
      togleDropdown: false,
      url: 'https://api.netpie.io/feed/',
      // APIKey: '1AIYI6XSO3pgbk9ltLLsNJa7ab67PoeC',
      getAPIOption: {
        feedId: 'MonitoringFeed',
        granularity: {
          value: 1,
          unit: 'minute'
        },
        since: {
          value: 1,
          unit: 'hour'
        },
        filter: {
          attrs: []
        }
      },
      fetchDataRes: [],
      // fetchChartRes: [],
      filters: [],
      metadata: {
        feed: {
          feedID: null,
          apiKey: null
        },
        application: {
          appID: null,
          key: null,
          secret: null,
          alias: null
        }
      }
    }
  },
  methods: {
    fetchData: function () {
      this.togleDropdown = false
      let self = this
      let values = []
      let months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
      fetch(this.filterReq).then(function (response) {
        self.$notify({
          group: 'foo',
          type: 'info',
          speed: 1000,
          duration: 30000,
          title: 'Message',
          text: 'Please Wait Fetch Data'
        })
        // console.log(response.status)
        if (response.status !== 200) {
          return self.$notify({
            group: 'foo',
            type: 'error',
            speed: 1000,
            duration: 10000,
            title: 'Message',
            text: 'Fetch Data Problem Error Code ' + response.status
          })
        }
        // Examine the text in the response
        self.fetchDataRes = []
        // self.fetchChartRes = []
        response.json().then(function (data) {
          // self.fetchDataRes.push(data.data)
          for (let d of data.data) {
            values = []
            // chartData = []
            // objData = Object.assign(...d.values.map(d => ({[d[0]]: d[1]})))
            for (let value of d.values) {
              let val = {...value}
              let status = null
              let dt = new Date(parseInt(val['0']))
              let time = new Date(parseInt(val['0'])).toLocaleTimeString('en-US')
              let year = dt.getFullYear()
              let month = months[dt.getMonth()]
              let date = dt.getDate()
              let datetime = date + ' ' + month + ' ' + year + ' ' + time
              let pvalue = Math.round([value['1']] * 100) / 100
              if (d.unit === '%RH') {
                status = pvalue >= 60 || pvalue <= 40 ? 'Abnormal' : 'Normal'
              } else if (d.unit === 'C') {
                status = pvalue >= 27 || pvalue <= 16 ? 'Abnormal' : 'Normal'
              }
              values.push({dateTime: datetime, value: pvalue, status: status})
              // chartData.push({x: val['0'], y: pvalue})
            }
            self.fetchDataRes.push({attr: d.attr, unit: d.unit, values: values, isExpand: true})
            // seff.fetchChartRes.push({attr: d.attr, unit: d.unit, charts: chartData})
            if (!self.filterReq.includes('filter')) {
              self.filters.push({attr: d.attr})
            }
          }
          self.$notify({
            group: 'foo',
            clean: true
          })
        })
      }).catch(function (err) {
        console.log('Fetch Error :-S', err)
      })
    },
    handleAddFilter: function (event, filter) {
      if (event) {
        this.getAPIOption.filter.attrs.push(filter.attr)
      } else {
        let index = this.getAPIOption.filter.attrs.findIndex(f => f === filter.attr)
        // console.log(index)
        this.getAPIOption.filter.attrs = [
          ...this.getAPIOption.filter.attrs.slice(0, index),
          ...this.getAPIOption.filter.attrs.slice(index + 1)
        ]
      }
    }
  },
  computed: {
    filterReq: function () {
      let filterName = '&filter='
      let url = this.url + this.getAPIOption.feedId + '?apikey=' + this.userMetadata.user_metadata.feed.apiKey + '&granularity=' + this.getAPIOption.granularity.value +
      this.getAPIOption.granularity.unit + '&since=' + this.getAPIOption.since.value + this.getAPIOption.since.unit
      if (this.getAPIOption.filter.attrs.length === 0) {
        return url
      } else {
        for (let i = 0; i < this.getAPIOption.filter.attrs.length; i++) {
          filterName += this.getAPIOption.filter.attrs[i]
          if (this.getAPIOption.filter.attrs.length - (i + 1) !== 0) {
            filterName += ','
          }
        }
        url += filterName
        return url
      }
    },
    ...mapGetters(['userMetadata'])
  },
  created () {
    this.fetchData()
  },
  watch: {
    fetchDataRes: function () {
      this.$emit('input', this.fetchDataRes)
      // this.$emit('input', this.fetchChartRes)
    }
  }
}
</script>
