<template>
  <div>
    <aside class="menu">
      <!-- <p class="menu-label">
        IoT Monitoring System
      </p> -->
      <ul class="menu-list">
        <li>
          <a><i class="fas fa-tachometer-alt"></i>&nbsp;&nbsp;<strong>Dashboard</strong></a>
          <ul>
            <li @click="setMenuClick('realtime')">
              <a :class="{'is-active' : menuClick === 'realtime'}"><i class="fas fa-chart-line"></i>&nbsp;&nbsp;Real-Time</a>
            </li>
            <li @click="setMenuClick('history')">
              <a :class="{'is-active' : menuClick === 'history'}"><i class="fas fa-sliders-h"></i>&nbsp;&nbsp;History</a>
            </li>
            <li @click="setMenuClick('report')">
              <a :class="{'is-active' : menuClick === 'report'}"><i class="fas fa-file-alt"></i>&nbsp;&nbsp;Report</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="menu-list">
        <li @click="setMenuClick('profile')">
          <a :class="{'is-active' : menuClick === 'profile'}"><i class="fas fa-user"></i>&nbsp;&nbsp;<strong>User Profile</strong></a>
        </li>
        <!-- <li @click="setMenuClick('notification')">
          <router-link to="/notification" :class="{'is-active' : menuClick === 'notification'}"><i class="fas fa-bell"></i>&nbsp;&nbsp;<strong>Notifications</strong></router-link>
        </li> -->
        <li @click="setMenuClick('setting')">
          <a :class="{'is-active' : menuClick === 'setting'}"><i class="fas fa-cogs"></i>&nbsp;&nbsp;<strong>Setting</strong></a>
        </li>
      </ul>
  <!-- {{menuClick}} -->
    </aside>
  </div>
</template>
<script>
import { mapMutations, mapGetters } from 'vuex'
export default {
  name: 'MenuList',
  data () {
    return {
      // menuClick: 'dashboard'
    }
  },
  methods: {
    ...mapMutations(['setMenuClick'])
  },
  computed: {
    ...mapGetters(['menuClick'])
  }
}
</script>
<style>
  .menu-list li a {
    padding: 1em 1em;
  }
  .menu-list ul li a {
    padding: 1em;
  }
</style>
