<template>
  <div>
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <div class="title has-text-grey-dark"><i class="fas fa-bell"></i> Notification</div>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <a class="button is-danger" @click="isShowConfirmRemove = true">
            <span class="icon">
              <i class="fas fa-trash"></i>
            </span>
            <span>Clear</span>
          </a>
        </div>
      </div>
    </div>
    <div class="modal" :class="{'is-active': isShowConfirmRemove}">
      <div class="modal-background" @click="isShowConfirmRemove = false"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Confirm Remove</p>
          <button class="delete" aria-label="close" @click="isShowConfirmRemove = false"></button>
        </header>
        <section class="modal-card-body">
          Are you sure you want to Clear Notification ?
        </section>
        <footer class="modal-card-foot">
          <button class="button is-danger" @click="handleClearNoti()">Clear</button>
          <button class="button" @click="isShowConfirmRemove = false">Cancel</button>
        </footer>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      isShowConfirmRemove: false
    }
  },
  methods: {
    handleClearNoti: function () {
      this.isShowConfirmRemove = false
    }
  },
  computed: {
  },
  created () {
  }
}
</script>
