<template>
<div>
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <div class="title has-text-grey-dark"><i class="fas fa-user"></i> Profile</div>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <!-- <a class="button is-danger" @click="">
          <span class="icon">
            <i class="fas fa-trash"></i>
          </span>
          <span>Clear</span>
        </a> -->
      </div>
    </div>
  </div>
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-5">
          <figure class="image is-1by1 is-center">
              <img class="is-rounded" :src="profile.picture" alt="Profile Picture">
          </figure>
        </div>
        <div class="column is-6 is-offset-1">
          <table class="table">
            <tbody>
              <tr>
                <th>Nickname</th>
                <td>{{profile.nickname}}</td>
              </tr>
              <tr>
                <th>Name</th>
                <td>{{profile.name}}</td>
              </tr>
              <tr>
                <th>E-Mail</th>
                <td>{{profile.email}}</td>
              </tr>
              <tr>
                <th>Update at</th>
                <td>{{profile.updated_at}}</td>
              </tr>
              <tr>
                <th>Last Login</th>
                <td v-if="userMetadata">{{userMetadata.last_login}}</td>
              </tr>
            </tbody>
          </table>
          <!-- <a class="button is-link is-text-right">
            <span class="icon">
              <i class="fas fa-key"></i>
            </span>
            <span>Change Password</span>
          </a>
          <a class="button is-link is-text-right" @click="updateUserMetadata({netpie_key: 'q34', dfasd: 123123})">
            <span class="icon">
              <i class="fas fa-key"></i>
            </span>
            <span>Update profie</span>
          </a> -->
        </div>
      </div>
    </div>
  </div>
  <!-- {{userMetadata}} -->
</div>
</template>
<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'Profile',
  components: {
  },
  data () {
    return {
      // profile: this.$auth.profile
      profile: this.$auth.profile
      // menuClick: 'dashboard'
    }
  },
  methods: {
    ...mapActions(['updateUserMetadata'])
  },
  computed: {
    ...mapGetters(['userMetadata'])
  }
}
</script>
