<template>
<div>
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <div class="title has-text-grey-dark"><i class="fas fa-cogs"></i> Setting</div>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
      </div>
    </div>
  </div>
  <div class="container is-fluid">
    <div class="columns">
      <div class="column is-half">
        <div class="title is-5">Applications</div>
        <hr>
        <div class="field">
          <label class="label is-small">App ID</label>
          <div class="control">
            <input class="input is-small" type="text" placeholder="Application Name" v-model="metadata.application.appID" :disabled="isDisable">
          </div>
        </div>
        <div class="field">
          <label class="label is-small">Key</label>
          <div class="control">
            <input class="input is-small" type="text" placeholder="Session Key" v-model="metadata.application.key" :disabled="isDisable">
          </div>
        </div>
        <div class="field">
          <label class="label is-small">Secret</label>
          <div class="control">
            <input class="input is-small" type="text" placeholder="Secret" v-model="metadata.application.secret" :disabled="isDisable">
          </div>
        </div>
        <div class="field">
          <label class="label is-small">Alias</label>
          <div class="control">
            <input class="input is-small" type="text" placeholder="Target of Node" v-model="metadata.application.alias" :disabled="isDisable">
          </div>
        </div>
      </div>
      <div class="column is-half">
        <div class="title is-5">Feeds</div>
        <hr>
        <div class="field">
          <label class="label is-small">Feed ID</label>
          <div class="control">
            <input class="input is-small" type="text" placeholder="Feed Name" v-model="metadata.feed.feedID" :disabled="isDisable">
          </div>
        </div>
        <div class="field">
          <label class="label is-small">API Key</label>
          <div class="control">
            <input class="input is-small" type="text" placeholder="Key" v-model="metadata.feed.apiKey" :disabled="isDisable">
          </div>
        </div>
      </div>
    </div>

    <!-- {{userMetadata}} -->
    <div class="field">
      <a @click="isShowModal = true" class="button is-link is-text-right" v-show="saveSetting === true">
        <span class="icon">
          <i class="fas fa-save"></i>
        </span>
        <span>Save Setting</span>
      </a>
      <a @click="handleSaveSetting()" class="button is-link is-text-right" v-show="saveSetting === false">
        <span class="icon">
          <i class="fas fa-edit"></i>
        </span>
        <span>Edit Setting</span>
      </a>
      <div class="modal is-active" v-if="isShowModal">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Confirm Save Setting</p>
            <button class="delete" aria-label="close" @click="isShowModal = false"></button>
          </header>
          <section class="modal-card-body">
            Are you sure you want to save setting ?
          </section>
          <footer class="modal-card-foot">
            <button class="button is-primary" v-if="updateUserMetadata" @click="updateUserMetadata(metadata), handleSaveSetting(), isShowModal = false">OK</button>
            <button class="button is-danger" @click="isShowModal = false, handleSaveSetting()">Cancel</button>
          </footer>
        </div>
      </div>
    </div>
  </div>
</div>
</template>
<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'Setting',
  components: {
  },
  data () {
    return {
      metadata: {
        feed: {
          feedID: null,
          apiKey: null
        },
        application: {
          appID: null,
          key: null,
          secret: null,
          alias: null
        }
      },
      saveSetting: false,
      isDisable: true,
      isShowModal: false,
      arr: []
    }
  },
  methods: {
    ...mapActions(['updateUserMetadata']),
    handleSaveSetting: function () {
      this.saveSetting = !this.saveSetting
      this.isDisable = !this.isDisable
    },
    handlePush: function (event, value) {
      if (event) {
        this.arr.push(value)
      } else {
        this.arr = [
          ...this.arr.slice(0, 0),
          ...this.arr.slice(1 + 0)
        ]
      }
      console.log(event)
    }
  },
  computed: {
    restAPIAuth: function () {
      let restAPIAuth = this.key + ':' + this.secret
      return restAPIAuth
    },
    ...mapGetters(['userMetadata'])
  },
  watch: {
    userMetadata: function () {
      this.metadata = Object.assign(this.metadata, this.userMetadata.user_metadata)
    }
  }
}
</script>
