<template>
<div>
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <div class="title has-text-grey-dark"><i class="fas fa-sliders-h"></i> History</div>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <a class="button is-link" @click="filterDataHistory = !filterDataHistory ">
          <span class="icon">
            <i class="fas fa-filter"></i>
          </span>
          <span>Filter Data</span>
        </a>
      </div>
    </div>
  </div>
  <div class="container is-fluid is-centent-center" v-show="filterDataHistory">
    <filter-chart v-model="fetchDataRes"></filter-chart>
  </div>
  <br>
  <section class="accordions" v-for="dataRes in fetchDataRes" :key="dataRes.id">
    <article :class="['accordion', {'is-active' : dataRes.isExpand}]">
      <div class="accordion-header">
        <p>{{dataRes.attr}}</p>
        <button class="toggle" aria-label="toggle" @click="dataRes.isExpand = !dataRes.isExpand"></button>
      </div>
      <div class="accordion-body">
        <div class="accordion-content">

          <div class="columns ">
            <div class="column is-one-third">
              <div class="box notification is-danger">
                <strong>Maximum : </strong> {{dataRes.max}} {{dataRes.unit}}
              </div>
            </div>
            <div class="column">
              <div class="box notification is-success">
                <strong>Minimum : </strong> {{dataRes.min}} {{dataRes.unit}}
              </div>
            </div>
            <div class="column">
              <div class="box notification is-info">
                <strong>Average : </strong>{{dataRes.avg}} {{dataRes.unit}}
              </div>
            </div>
          </div>
          <!-- {{dataRes}} -->
          <div class="columns is-multiline">
            <div class="column is-full">
              <div class="chart-container">
                <line-chart :chartData="j(dataRes.datacollection)" :height=120></line-chart>
              </div>
            </div>
            <!-- <div class="column is-half">
            </div>
            <div class="column is-half">
            </div> -->
          </div>
        </div>
      </div>
    </article>
  </section>
  <!-- <div class="chart-container">
    <line-chart :chartData="datacollection"></line-chart>
  </div> -->
  <!-- <hr>
  <br> -->
  <!-- {{fetchDataRes}} -->
</div>
</template>
<script>
import LineChart from '../../charts/HistoryLineChart.vue'
import FilterChart from '../FilterChart'

export default {
  name: 'History',
  components: {
    LineChart, FilterChart
  },
  data () {
    return {
      cardClick: true,
      filterDataHistory: false,
      fetchDataRes: [],
      chartOptions: {
      },
      // cc: [],
      datacollection: {
        datasets: [{
          label: 'Test',
          data: [{
            x: Date.now(),
            y: 5
          }, {
            x: Date.now() + 50,
            y: 10
          }, {
            x: Date.now() + 60,
            y: 5
          }, {
            x: Date.now() + 70,
            y: 9
          }],
          backgroundColor: 'rgb(255, 99, 132)',
          borderColor: 'rgb(255, 99, 132)',
          borderWidth: 2,
          lineTension: 0
        }]
      }
    }
  },
  methods: {
    j: function (o) {
      return JSON.parse(JSON.stringify(o))
    }
  }
}
</script>
