<template>
<div>
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <div class="title has-text-grey-dark"><i class="fas fa-chart-line"></i> Dashboard</div>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
      </div>
    </div>
  </div>
  <div class="columns is-multiline">
    <div class="column is-full">
      <div class="chart-container">
        <line-chart :chartData="datacollectionTemp" v-model="chartTitleTemp"></line-chart>
      </div>
    </div>
    <div class="column is-full">
      <div class="chart-container">
        <line-chart :chartData="datacollectionHumid" v-model="chartTitleHumid"></line-chart>
      </div>
    </div>
  </div>
  <!-- <section class="accordions">
    <article :class="['accordion', {'is-active' : cardClick}]">
      <div class="accordion-header">
        <p>Hello World</p>
        <button class="toggle" aria-label="toggle" @click="cardClick = !cardClick"></button>
      </div>
      <div class="accordion-body">
        <div class="accordion-content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
        </div>
      </div>
    </article>
  </section>
  <div class="columns is-multiline">
    <div class="column is-half">
      <div class="chart-container">
        <line-chart :chartData="datacollectionTemp"></line-chart>
      </div>
    </div>
    <div class="column is-half">
      <div class="chart-container">
        <line-chart :chartData="datacollectionHumid"></line-chart>
      </div>
    </div>
  </div> -->
</div>
</template>
<script>
import { mapMutations } from 'vuex'
import LineChart from '../../charts/RealTimeLineChart.vue'

export default {
  name: 'RealTime',
  components: {
    LineChart
  },
  data () {
    return {
      // dataLength: 1,
      cardClick: true,
      chartTitleTemp: {
        title: 'Temperature of Data Center',
        unit: 'C'
      },
      chartTitleHumid: {
        title: 'Humidity of Data Center',
        unit: '%RH'
      },
      datacollection: {
        datasets: []
      },
      datacollectionTemp: {
        datasets: [{
          label: 'ROOM',
          lineTension: 0,
          borderWidth: 2,
          fill: false,
          borderColor: 'rgb(255, 99, 132, 0.7)',
          backgroundColor: 'rgb(255, 99, 132, 0.1)',
          data: []
        }, {
          label: 'RACK-A',
          lineTension: 0,
          borderWidth: 2,
          fill: false,
          borderColor: 'rgb(255, 159, 64, 0.7)',
          backgroundColor: 'rgba(255, 159, 64, 0.1)',
          data: []
        }, {
          label: 'RACK-B',
          lineTension: 0,
          borderWidth: 2,
          fill: false,
          borderColor: 'rgb(153, 102, 255, 0.7)',
          backgroundColor: 'rgb(153, 102, 255, 0.1)',
          data: []
        }, {
          label: 'RACK-C',
          lineTension: 0,
          borderWidth: 2,
          fill: false,
          borderColor: 'rgb(75, 192, 192, 0.7)',
          backgroundColor: 'rgb(75, 192, 192, 0.1)',
          data: []
        }, {
          label: 'RACK-D',
          lineTension: 0,
          borderWidth: 2,
          fill: false,
          borderColor: 'rgba(54, 162, 235, 0.5)',
          backgroundColor: 'rgba(54, 162, 235, 0.1)',
          data: []
        }]
      },
      datacollectionHumid: {
        datasets: [{
          label: 'ROOM',
          lineTension: 0,
          borderWidth: 2,
          fill: false,
          borderColor: 'rgb(255, 99, 132, 0.7)',
          backgroundColor: 'rgb(255, 99, 132, 0.1)',
          data: []
        }, {
          label: 'RACK-A',
          lineTension: 0,
          borderWidth: 2,
          fill: false,
          borderColor: 'rgb(255, 159, 64, 0.7)',
          backgroundColor: 'rgba(255, 159, 64, 0.1)',
          data: []
        }, {
          label: 'RACK-B',
          lineTension: 0,
          borderWidth: 2,
          fill: false,
          borderColor: 'rgb(153, 102, 255, 0.7)',
          backgroundColor: 'rgb(153, 102, 255, 0.1)',
          data: []
        }, {
          label: 'RACK-C',
          lineTension: 0,
          borderWidth: 2,
          fill: false,
          borderColor: 'rgb(75, 192, 192, 0.7)',
          backgroundColor: 'rgb(75, 192, 192, 0.1)',
          data: []
        }, {
          label: 'RACK-D',
          lineTension: 0,
          borderWidth: 2,
          fill: false,
          borderColor: 'rgba(54, 162, 235, 0.5)',
          backgroundColor: 'rgba(54, 162, 235, 0.1)',
          data: []
        }]
      }
    }
  },
  methods: {
    ...mapMutations(['setDataLength']),
    fetchData: function () {
      let APPID = 'MonitoringSystem'
      let KEY = 'v6FB9SoKV5IP8mS'
      let SECRET = 'NBU5kqDuLUHoGKvtUVrhuMepn'
      let ALIAS = 'WEB_MONITORING'
      // eslint-disable-next-line
      var microgear = Microgear.create({
        key: KEY,
        secret: SECRET,
        alias: ALIAS
      })
      let vm = this
      microgear.on('message', function (topic, rawData) {
        let data = rawData.split('/')
        vm.datacollectionTemp.datasets[0].data.push({
          x: Date.now(),
          y: data[2]
        })
        vm.datacollectionTemp.datasets[1].data.push({
          x: Date.now(),
          y: data[4]
        })
        vm.datacollectionTemp.datasets[2].data.push({
          x: Date.now(),
          y: data[6]
        })
        vm.datacollectionTemp.datasets[3].data.push({
          x: Date.now(),
          y: data[8]
        })
        vm.datacollectionTemp.datasets[4].data.push({
          x: Date.now(),
          y: data[10]
        })
        vm.datacollectionHumid.datasets[0].data.push({
          x: Date.now(),
          y: data[1]
        })
        vm.datacollectionHumid.datasets[1].data.push({
          x: Date.now(),
          y: data[3]
        })
        vm.datacollectionHumid.datasets[2].data.push({
          x: Date.now(),
          y: data[5]
        })
        vm.datacollectionHumid.datasets[3].data.push({
          x: Date.now(),
          y: data[7]
        })
        vm.datacollectionHumid.datasets[4].data.push({
          x: Date.now(),
          y: data[9]
        })
        for (let i = 0; i < vm.datacollectionTemp.datasets.length; i++) {
          if (vm.datacollectionTemp.datasets[i].data.length > 200) {
            vm.datacollectionTemp.datasets[i].data = [
              ...vm.datacollectionTemp.datasets[i].data.slice(50)
            ]
          }
        }
        for (let i = 0; i < vm.datacollectionHumid.datasets.length; i++) {
          if (vm.datacollectionHumid.datasets[i].data.length > 200) {
            vm.datacollectionHumid.datasets[i].data = [
              ...vm.datacollectionHumid.datasets[i].data.slice(50)
            ]
          }
        }
      })
      microgear.on('connected', function () {
        microgear.setAlias(ALIAS)
      })

      // microgear.on('present', function (event) {
      //   console.log('New friend found: ' + event.gearkey)
      // })

      // microgear.on('absent', function (event) {
      //   console.log('Friend lost: ' + event.gearkey)
      // })

      microgear.resettoken(function (err) {
        console.log(err)
        microgear.connect(APPID)
      })

      microgear.on('closed', function () {
        console.log('Closed...')
      })
    }
  },
  computed: {
    // ...mapGetters(['dataLength'])
  },
  created () {
    this.fetchData()
  }
  // watch: {
  //   dataLength: function (value) {
  //     console.log(value + ' hahaha')
  //   }
  // }
}
</script>
<style>
  .accordions .accordion .accordion-header {
    background-color: #2d353c;
  }
  .accordions .accordion .accordion-body {
    background-color: white;
  }
</style>
