<template>
<div>
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <div class="title has-text-grey-dark"><i class="fas fa-file-alt"></i> Report</div>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <a class="button is-link" @click="filterDataReport = !filterDataReport">
          <span class="icon">
            <i class="fas fa-filter"></i>
          </span>
          <span>Filter Data</span>
        </a>
      </div>
    </div>
  </div>
  <div class="container is-fluid is-centent-center" v-show="filterDataReport">
    <filter-data v-model="fetchDataRes"></filter-data>
  </div>
  <br>
  <section class="accordions" v-for="dataForm in fetchDataRes" :key="dataForm.id">
    <article :class="['accordion', {'is-active' : dataForm.isExpand}]">
      <div class="accordion-header">
        <p>{{dataForm.attr}}</p>
        <button class="toggle" aria-label="toggle" @click="dataForm.isExpand = !dataForm.isExpand"></button>
      </div>
      <div class="accordion-body">
        <div class="accordion-content">
          <table class="table is-narrow is-fullwidth">
            <thead>
              <th>Date-Time</th>
              <th>Unit ({{dataForm.unit}})</th>
              <th>Status</th>
            </thead>
            <tbody>
              <tr v-for="data of dataForm.values" :key="data.id">
                <td>{{data.dateTime}}</td>
                <td>{{data.value}}</td>
                <td>
                  <span :class="data.status === 'Normal' ?'tag is-success' : 'tag is-danger'">{{data.status}}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </article>
  </section>
  <!-- <div class="container is-fluid" v-for="dataForm in fetchDataRes" :key="dataForm.id">
    <div class="title is-2 is-spaced">{{dataForm.attr}}</div>
    <table class="table is-narrow is-fullwidth">
      <thead>
        <th>Date-Time</th>
        <th>Unit ({{dataForm.unit}})</th>
        <th>Status</th>
      </thead>
      <tbody>
        <tr v-for="data of dataForm.values" :key="data.id">
          <td>{{data.dateTime}}</td>
          <td>{{data.value}}</td>
          <td>
            <span :class="data.status === 'Normal' ?'tag is-success' : 'tag is-danger'">{{data.status}}</span>
          </td>
        </tr>
      </tbody>
    </table>
    <br>
  </div> -->

</div>
</template>
<script>
import FilterData from '../FilterData'
export default {
  name: 'Report',
  components: {
    FilterData
  },
  data () {
    return {
      filterDataReport: false,
      fetchDataRes: []
    }
  },
  methods: {
  },
  computed: {
  },
  created () {
  }
}
</script>
<style>
  .is-content-center {
    justify-content: center;
    text-align: center;
  }

</style>
