<template>
  <!-- <div>
    <nav>
      <div>
        <a href="#">Auth0 - Vue</a>
      </div>
      <ul>
        <li>
          <router-link to="/">Home</router-link>
        </li>
        <li v-if="!isAuthenticated">
          <a href="#" @click.prevent="login">Login</a>
        </li>
        <li v-if="isAuthenticated">
          <router-link to="/profile">Profile</router-link>
        </li>
        <li v-if="isAuthenticated">
          <a href="#" @click.prevent="logout">Log out</a>
        </li>
      </ul>
    </nav>
    <div>
      <router-view></router-view>
    </div>
  </div> -->
  <!-- setAPPID('MonitoringSystem'), setKEY('yEXMA1FFqQeRCuC'), setSECRET('wnfM94qH98X9KTDeI5ZAHVHbH'), setALIAS('WEB_MONITORING') -->
  <div v-if="isAuthenticated">
    <!-- <a href="#" @click.prevent="logout">Log out</a> -->
    <app-nav></app-nav>
    <div class="is-clearfix" style="z-index: 1000; position: fixed; right: 0px;">
      <!-- <notification v-for="event in events" :notification="event" :key="event.object.metadata.uuid"></notification> -->
    </div>
    <div class="columns is-gapless">
      <div class="column is-2 is-sider-menu">
        <menu-list ></menu-list>
      </div>
      <div class="column is-background-color">
        <router-view></router-view>
        <notifications position="bottom right" group="foo"/>
      </div>
    </div>
  </div>
  <div v-else-if="!isAuthenticated">
    <home></home>
    <!-- <a href="#" @click.prevent="login">Login</a> -->
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import AppNav from './components/AppNav'
import MenuList from './components/MenuList'
import Home from './pages/Home'

export default {
  name: 'app',
  components: {
    AppNav, MenuList, Home
  },
  data () {
    return {
      isAuthenticated: false
    }
  },
  async created () {
    try {
      await this.$auth.renewTokens()
    } catch (e) {
      console.log(e)
    }
  },
  methods: {
    login () {
      this.$auth.login()
    },
    logout () {
      this.$auth.logOut()
    },
    ...mapActions(['fetchUserMetadata']),
    handleLoginEvent (data) {
      this.isAuthenticated = data.loggedIn
      // this.profile = data.profile
      // this.profile = data
      this.fetchUserMetadata(data)
    }
  }
}
</script>
<style>
  .is-sider-menu {
    background-color: #2d353c;
    min-height: calc(100vh - ( 3.25rem - .75rem ) );
    /* max-height: calc(100vh - ( 3.25rem - .75rem ) ); */
    /* height: calc(100vh - ( 3.25rem - .75rem ) ); */
    /* display: flex; */
    flex-direction: row;
    /* justify-content: stretch; */
  }
  .is-background-color {
    background-color: white;
  }
</style>
