<template>
  <div>
    <app-nav></app-nav>
    <div class="is-clearfix" style="z-index: 1000; position: fixed; right: 0px;">
      <!-- <notification v-for="event in events" :notification="event" :key="event.object.metadata.uuid"></notification> -->
    </div>
    <div>
      <div class="columns is-gapless">
        <!-- style="margin-top: 1rem; margin-left: 1rem;" -->
        <div class="column is-2">
          <menu-list></menu-list>
        </div>
        <div class="column">
          <router-view></router-view>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AppNav from './components/AppNav'
import MenuList from './components/MenuList'
// import { mapGetters } from 'vuex'
// import AppContent from './components/AppContent'
// import Notification from './components/Notification'

export default {
  name: 'app',
  components: {
    AppNav, MenuList
  },
  computed: {
    // ...mapGetters(['events'])
  }
}
</script>

<style>
</style>
